/* Existing CSS rules */

html, body {
    height: 100%;
    margin: 0;
}

.main-content {
    height: calc(100vh - 80px); /* Adjust based on header and footer height */
    overflow-y: auto;
}

.new-post-card {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.liked {
    background: linear-gradient(120deg, #ec74de, #c17bfe); /* Change this to the desired color */
    font-weight: bold;
}

body {
    background-color: #f5f5f5;
}

header {
    background-color: #d63384; /* Match this with class="bg" */
    color: #fff; /* Match this with class="text-white" */
    padding: 10px 0; /* Adjust padding if necessary */
}

header img {
    width: 40px; /* Adjust logo size if necessary */
}

header h1 {
    margin: 0;
    font-size: 24px; /* Adjust font size if necessary */
}

/* Add button styling if not already included */

.headerButtons {
    background-color: #debbde; /* Example background color */
    color: #000000; /* Text color */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.headerButtons:hover {
    background: linear-gradient(120deg, #ec74de, #c17bfe);
    border-radius: 3px;
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn {
    background-color: #debbde; /* Example background color */
    color: #000000; /* Text color */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background: linear-gradient(120deg, #ec74de, #c17bfe);
    border-radius: 3px;
    transform: scale(1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}