/* Existing CSS rules */

html, body {
    height: 100%;
    margin: 0;
}

.main-content {
    height: calc(100vh - 80px); /* Adjust based on header and footer height */
    overflow-y: auto;
}

.new-post-card {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

#mood-buttons {
    margin-top: 50px;
}

#mood-buttons button {
    margin-bottom: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.liked {
    background: linear-gradient(120deg, #ec74de, #c17bfe); /* Change this to the desired color */
    font-weight: bold;
}

.btn {
    margin-right : 15px;
}

.like-count {
    margin-right : 15px; /* Add space between button and like count */
}

body {
    background-color: #f5f5f5;
}

header {
    background: linear-gradient( to right, #001b4df0, #4077d5b3);
    color: #fff; /* Match this with class="text-white" */
    padding: 10px 0; /* Adjust padding if necessary */
}

footer {
    background: linear-gradient( to right, #001b4df0, #4077d5b3);
    color: #fff; /* Match this with class="text-white" */
}
/* Add button styling if not already included */

.headerButtons {
    background-color: #debbde; /* Example background color */
    color: #000000; /* Text color */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.headerButtons:hover {
    background: linear-gradient(120deg, #ec74de, #c17bfe);
    border-radius: 3px;
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn {
    background-color: #debbde; /* Example background color */
    color: #000000; /* Text color */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background: linear-gradient(120deg, #ec74de, #c17bfe);
    border-radius: 3px;
    transform: scale(1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}