header {
  background: linear-gradient(to right, #001b4df0, #4077d5b3);
  color: #fff; /* Match this with class="text-white" */
  padding: 10px 0; /* Adjust padding if necessary */
}

.main-content {
  height: calc(100vh - 100px); /* Adjust according to the header and footer height */
  overflow-y: auto; /* Allow vertical scrolling */
  padding: 20px; /* Optional: Add padding for better spacing */
}

#photoGallery img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#photoGallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.headerButtons {
  background-color: #debbde; /* Example background color */
  color: #000000; /* Text color */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.headerButtons:hover {
  background: linear-gradient(120deg, #ec74de, #c17bfe);
  border-radius: 3px;
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
